arduino.exe
arduino_debug.exe
*.dll
*.ini
drivers
examples
hardware/arduino/avr
hardware/arduino/sam
hardware/arduino/jen/tools/ba-elf-ba2-r34135
hardware/arduino/jen/import
java
libraries
lib
reference
revisions.txt
tools
*~
