language: generic
sudo: false
dist: trusty
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-6
    - libgit2-0
    - libgit2-dev
env:
  global:
  - secure: s23FCXAYTELTC5XaizCh0rUkVF7kW/CQMgFhTL81me/v0lQsjhOlNR531KY8+RSHv3NXPRr32o/c4g4WURdxHE8BtggGU4/LzxqTTW6Ua9EEMumpQlIIpNi71qU5cTNv/B5LjvYiXBF3hl/SAvGt26EvMxTRwpQDPJm0ePWSEahMx+n5OzVh/C4RMnA4ZoJCVzEXQZ+NiuRtLu9JVwLpG7TRpecf2kBMtdz6VBgzOKvOY9zYaA+6ZW4qE/wC7e+5zWFyS9C9P9JU6D/0izrGiaT+amk8lZvjJCeBvNag/zIfySZy4aDHjwmoFB5vDWDQqGac/DSIv/xUAicCssoBkjvBk4YVxtKYEF6oXJg40XAWIErkz4AUp3wiHXtdTpovH0r8QT896jAwaU0zxdXXFjJidBXuO4DLMbxABj/9Ab4vzY7G6YcUHi9C9t5A7ISp0MAxB53MJcylWDCp5tpxbs1zbe5ndoxs1YrEvJIw4ezJ6u1NGJTwra/kSpdyIqYhRnCoK7z0HnkmPwykYhyMOz6K/g2DqJ8wtNU2642Zz4o4P5/pvgT/IWo1/qLnZvsQ+t4VvXNGKzupaJZG50rTrnlat4QTzwPa1gCpSeZiV+A5GtIdtYnhQYarl6b8EJI9SU2frsQ9fH7o9twppJlEb7bS4bJXcKk4cdRdN4MnXwE=
  - ARDUINO_VERSION=1.8.4
deploy:
  provider: releases
  file: ../${ARCHIVENAME}.tar.bz2
  skip_cleanup: true
  api_key:
    secure: slp0FpIa6s7e7rW8Kk4mtyeiNHJW44ak2yGFo3/xN9LZxYLJZf1CdqiSm9x1g98yk7iO8Q+tWzFs4+aISYPOE9AZVSo4w3m4uvXS458ymg2M2IFPsXz0mH+C2uMJCRkaGZFT6C8Gg9cA5wRtwPd0MErFgffJssEAFXo3GP1N5YvRGpLn1CYleQzfArYKnskwI+EkMqCLqLVDzBTJ0Q8rotSyd1Es+ui5RPRKPoFNhG21Cyz9kIzyBVgG9ymDP3phNbKQqDcg5d/aeKAysKFnyqddgs2a5K6SunlFzA33OChzfFNdjKDsdGC+R2OurZ8GDHuTHvjFUkGWo8WHDDsJya1fYeRiG8akWiECIVfZc3lwDAXPae//DwOpjOq1jigQJjVwbwHdv9RR3tXso/ZWB5F1HPJB0q9te+rzTbqQ7+ooChF1rA2j8fDlY6lJ+uM8fzIVIAIJlK6Nm4CRhpXweTRMHEcQ5m6yRNLFT8P0CJNU02ehgmqSSykyBN+ktmAqo3WvC7JeH7QJFsFX7NUZ4SxHSfAWPzif6hGz0kJL0tqlaSyTSzkeeywBYfxHBWC6Q8FVd7PlMpjo7kteHG+pjDKikND+KvQ8esf0TAKm0NnadUGtmDaGXrUWtH8fdKONMqcBj6Amz8s5RRPi2e7lDUJdT+LAWLXZTUR8WXPnrVs=
  on:
    tags: true

before_script:
- env
- gem install -V rugged
- source dist/setup_env.sh
- git remote add gh-origin "https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}"
- git config --global user.email "travisci@example.com"
- git config --global user.name "Travis-CI"
- curl -l -L http://ftp.gnu.org/gnu/make/make-4.2.tar.bz2 | tar xfj - -C ~
- cd ~/make-4.2 && ./configure && make && cp make ~/bin
- cd -
- export PATH=~/bin:$PATH
- curl -l -L https://downloads.arduino.cc/arduino-${ARDUINO_VERSION}-linux64.tar.xz | tar xfJ - -C ~
- MAKEHELPER_VERSION=$(ruby dist/ci_makehelperversion.rb  dist/platform_template.json)
- echo ${MAKEHELPER_VERSION}
- ruby dist/ci_toolurl.rb dist/tool_template.json
- curl -l -L $(ruby dist/ci_toolurl.rb dist/tool_template.json -v ${MAKEHELPER_VERSION})  | tar xfj - -C ~
- echo intiki.contiki-makehelper=${MAKEHELPER_VERSION} >> ~/contiki-makehelper/builtin_tools_versions.txt
- mkdir ~/arduino-${ARDUINO_VERSION}/hardware/soburi/
- ln -s $PWD ~/arduino-${ARDUINO_VERSION}/hardware/soburi/intiki


script:
# check submojule.json
- ruby dist/ci_submodules.rb -c dist/submodules.json
# generate archive
- EXCLUDEGIT=$(find . -name '.git' -printf '%f ' | xargs -i echo -n --exclude {})
- BZIP2=-9 tar cfj ../${ARCHIVENAME}.tar.bz2 -C .. ${EXCLUDEGIT} $(basename ${PWD})
after_script:
- if [ ${TRAVIS_TEST_RESULT} -ne 0 ] ; then echo ${TRAVIS_TEST_RESULT} ; exit ${TRAVIS_TEST_RESULT} ; fi
- echo ruby dist/ci_boardmanager.rb ${BM_FORCEOPT} -g ${GHREPO} -t dist/tool_template.json -p dist/platform_template.json -j ${PKGJSON} -u ${ARCHIVEURL} -r ${RELEASEVER} --package-name=intiki --package-maintainer=soburi --package-website='https://github.com/soburi/JN516x-arduino-package' --package-email='soburi@gmail.com' > ../tmp.json || exit $?
- ruby dist/ci_boardmanager.rb ${BM_FORCEOPT} -g ${GHREPO} -t dist/tool_template.json -p dist/platform_template.json -j ${PKGJSON} -u ${ARCHIVEURL} -r ${RELEASEVER} --package-name=intiki --package-maintainer=soburi --package-website='https://github.com/soburi/JN516x-arduino-package' --package-email='soburi@gmail.com' > ../tmp.json || exit $?
- git fetch --all || exit $?
- if [ "$TRAVIS_TAG" != "" ] ; then bats dist/compile_examples.bats ; fi
- git checkout gh-origin/gh-pages -b gh-pages || exit $?
- cp ../tmp.json ${PKGJSON} || exit $?
- git add ${PKGJSON} || exit $?
- git commit -m ${TRAVIS_BUILD_ID} || exit $?
- git push gh-origin gh-pages || exit $?
